.miz2prel-button,
.edit-button ,
.copy-button{
    font: inherit;
}

.clear-button,
.mizf-button,
.reset-button {
    font: inherit;
    display: none; /* 初期状態では非表示 */
}

#compileResult {
    white-space: pre-wrap;
    margin-top: 10px;
}

/* 出力エリアのスタイル */
.output {
    padding: 10px;
    border: 1px solid #ccc;
    margin-top: 10px;
    white-space: pre-wrap;
    display: none; /* 初期状態では非表示 */
}

/* カスタムテーマ */
.cm-gutters {
    font-family: "Consolas", "Courier New", monospace;
}

.cm-content {
    box-shadow: inset -4px -4px 0.5em -0.3em #ccc;
    border: 1px dashed #ccc;
    border-radius: 2px;
    padding: .7em 1em;
    font-family: Consolas, "Andale Mono WT", "Bitstream Vera Sans Mono", "Nimbus Mono L", Monaco, "Courier New", monospace;
    background-color: #fbfaf9;
}

/* エラーパネルのスタイル */
.cm-error-panel {
    background: none;
    color: #000000;
    padding: 4px;
}

/* エラー下線のスタイル */
.error-underline {
    text-decoration: underline wavy red;
}

/* 括弧の色 */
.bracket-color-0 { color: dodgerblue; }
.bracket-color-1 { color: darkmagenta; }
.bracket-color-2 { color: darkgoldenrod; }
.bracket-color-3 { color: darkturquoise; }
.bracket-color-4 { color: sienna; }

/* 制御キーワード */
.control-keyword {
    color: darkmagenta;
}

/* サポート関数 */
.function-keyword {
    color: sienna;
}

/* 一般的なキーワード */
.general-keyword {
    color: dodgerblue;
}

/* 型名やエンティティ名 */
.type-name {
    color: darkturquoise;
}

/* メタ情報（推論句） */
.meta-info {
    color: darkgoldenrod;
}

/* 行コメント */
.line-comment {
    color: darkcyan;
    font-style: italic;
}

/* 括弧の色 */
.paren {
    color: inherit; /* デフォルトの色を使用 */
}

.brace {
    color: inherit; /* デフォルトの色を使用 */
}

.square-bracket {
    color: inherit; /* デフォルトの色を使用 */
}